@{
    Layout = "~/Views/Shared/_DroppableLayout.cshtml";
}
<style>
    #gallery
    {
        float: left;
        width: 65%;
        min-height: 12em;
        font-size:10px;
    }
    * html #gallery
    {
        height: 12em;
        font-size:10px;
    }
    /* IE6 */
    .gallery.custom-state-active
    {
        background: #eee;
    }
    .gallery li
    {
        float: left;
        width: 96px;
        padding: 0.4em;
        margin: 0 0.4em 0.4em 0;
        text-align: center;
    }
    .gallery li h5
    {
        margin: 0 0 0.4em;
        cursor: move;
    }
    .gallery li a
    {
        float: right;
    }
    .gallery li a.ui-icon-zoomin
    {
        float: left;
    }
    .gallery li img
    {
        width: 100%;
        cursor: move;
    }
    
    #trash
    {
        float: right;
        width: 32%;
        min-height: 18em;
        padding: 1%;
        font-size:10px;
    }
    * html #trash
    {
        height: 18em;
    }
    /* IE6 */
    #trash h4
    {
        line-height: 16px;
        margin: 0 0 0.4em;
    }
    #trash h4 .ui-icon
    {
        float: left;
    }
    #trash .gallery h5
    {
        display: none;
    }
</style>
<div id="demo-frame">
    <div class="demo ui-widget ui-helper-clearfix">
        <ul id="gallery" class="gallery ui-helper-reset ui-helper-clearfix">
            <li class="ui-widget-content ui-corner-tr">
                <h5 class="ui-widget-header">High Tatras</h5>
                <img src="@Url.Content("~/Content/images/droppable/high_tatras_min.jpg")" alt="The peaks of High Tatras" width="96" height="72" />
                <a href="@Url.Content("~/Content/images/droppable/high_tatras.jpg")" title="View larger image" class="ui-icon ui-icon-zoomin">View larger</a>
                <a href="link/to/trash/script/when/we/have/js/off" title="Delete this image" class="ui-icon ui-icon-trash">Delete image</a>
            </li>
            <li class="ui-widget-content ui-corner-tr">
                <h5 class="ui-widget-header">
                    High Tatras 2</h5>
                <img src="@Url.Content("~/Content/images/droppable/high_tatras2_min.jpg")" alt="The chalet at the Green mountain lake"
                    width="96" height="72" />
                <a href="@Url.Content("~/Content/images/droppable/high_tatras2.jpg")" title="View larger image" class="ui-icon ui-icon-zoomin">
                    View larger</a> <a href="link/to/trash/script/when/we/have/js/off" title="Delete this image"
                        class="ui-icon ui-icon-trash">Delete image</a> </li>
            <li class="ui-widget-content ui-corner-tr">
                <h5 class="ui-widget-header">
                    High Tatras 3</h5>
                <img src="@Url.Content("~/Content/images/droppable/high_tatras3_min.jpg")" alt="Planning the ascent"
                    width="96" height="72" />
                <a href="@Url.Content("~/Content/images/droppable/high_tatras3.jpg")" title="View larger image" class="ui-icon ui-icon-zoomin">
                    View larger</a> <a href="link/to/trash/script/when/we/have/js/off" title="Delete this image"
                        class="ui-icon ui-icon-trash">Delete image</a> </li>
            <li class="ui-widget-content ui-corner-tr">
                <h5 class="ui-widget-header">
                    High Tatras 4</h5>
                <img src="@Url.Content("~/Content/images/droppable/high_tatras4_min.jpg")" alt="On top of Kozi kopka"
                    width="96" height="72" />
                <a href="@Url.Content("~/Content/images/droppable/high_tatras4.jpg")" title="View larger image" class="ui-icon ui-icon-zoomin">
                    View larger</a> <a href="link/to/trash/script/when/we/have/js/off" title="Delete this image"
                        class="ui-icon ui-icon-trash">Delete image</a> </li>
        </ul>
        <div id="trash" class="ui-widget-content ui-state-default">
            <h4 class="ui-widget-header">
                <span class="ui-icon ui-icon-trash">Trash</span> Trash</h4>
        </div>
    </div>
</div>
<div class="demo-description">
    <p>
        You can delete an image either by dragging it to the Trash or by clicking the trash
        icon.</p>
    <p>
        You can "recycle" an image by dragging it back to the gallery or by clicking the
        recycle icon.</p>
    <p>
        You can view larger image by clicking the zoom icon. jQuery UI dialog widget is
        used for the modal window.</p>
</div>
